<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTMX Flask Example</title>
    <script src="/static/htmx.min.js"></script>
	<link rel="stylesheet" href="/static/style.css">
</head>
<body>
	<div class="container">
		<div id="result">
			<form hx-post="/upload" hx-target="#result" hx-encoding="multipart/form-data" enctype="multipart/form-data">
				<label for="file">Choose a file:</label>
				<input type="file" name="file" id="file" accept=".sol" required>
				<button type="submit">Upload</button>
			</form>
		</div>
	</div>
</body>
</html>
